In [1]:
import pandas as pd
import numpy as np

In [5]:
test_df = pd.read_csv(r'C:\git\github\public\2020adventOfCode\Day 11\test.txt', header=None)

In [6]:
test_df.head()

            0
0  L.LL.LL.LL
1  LLLLLLL.LL
2  L.L.L..L..
3  LLLL.LL.LL
4  L.LL.LL.LL

In [11]:
print(str(test_df[0][0])[0])

L